* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

.container {
    width: 100%;
    height: calc(100vh - 90px);
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.left-nav {
    width: 230px;
    height: 100%;
    float: left;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding: 20px 30px 20px 20px;
}

.first-nav li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 20px;
}

.first-nav li a {
    font-size: 13px;
}

.first-nav li img {
    width: 13%;
    margin-right: 10px;
}

.first-nav li a:hover, .first-nav li img:hover {
    color: white;
}

#current-page {
    border-left: 2px solid greenyellow;
}


.playlist {
    margin-top: 20px;
    padding: 0 20px;
}

.playlist h5  {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.playlist h6 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    padding: 25px 0;
    cursor: pointer;
}

.playlist h6:hover {
    color: white;
}

#plus:hover {
    background: white;
}

.menu-list {
    height: 160px;
    overflow-y: hidden;
}

.menu-list:hover {
    overflow-y: auto;
}

.menu-list li a:hover {
    color: white;
}

.install {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px 10px 10px 0;
    cursor: pointer;
}

.install img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.install span {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.4);
}

.profile span {
    font-size: 13px;
    font-weight: 700;
    color: white;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 20px;
}

.profile img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background: rgb(157, 158, 158);
    border-radius: 50%;
    border: 1px solid white;
    color: white;
}


 .playlist .menu-list li {
    padding: 10px 0;
    font-size: 13px;
}

#plus {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

.playlist span, .profile span {
    color: white;
}

.main-content {
    width: calc(100% - 230px);
    float: left;
    height: 100%;
    background: green;
    overflow-y: auto;
    background: #141922;
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.4);
}


.player {
    width: 100%;
    height: 90px;
    background: #282828;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.upgrade {
    width: calc(100% - 230px);
    height: 100px;
    position: fixed;
    top: 0;
    left: 230px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upgrade h3 {
    color: white;
    padding: 12px 30px;
    border: 1px solid white;
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 40px;
    font-size: 12px;
    cursor: pointer;
}

.upgrade h3:hover {
  transform: scale(1.2,1.2);
}

.center-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-nav ul li {
    padding: 15px 10px;
}

.center-nav ul li a {
    text-transform: uppercase;
    font-size: 13px;
}

.center-nav ul li a:hover {
    color: white;
}
/*
#underlined{
    width: 35%;
    height: 2px;
    background: greenyellow;
} */

.recent {
    padding: 10px 0;
    width: 96%;
    margin: auto;
}

.recent h3 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0 10px 0;
}

.recent #recent-played {
    margin-bottom: 25px;
}

.recent h6 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 25px;
}

.cover-box h5 {
    font-size: 16px;
    margin: 20px 0 7px 0;
    font-weight: 700;
    color: white;
}

.cover-box h6 {
    font-size: 12px;
    font-weight: 300;
}

/* .layover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layover span {
  font-size: 50px;
  display: none;
}

.cover-image:hover .layover span {
    display: block;
}

.image:hover .layover {
    background-color: rgba(0, 0, 0, 0.5);
} */


.covers {
    display: flex;
    justify-content: flex-start;
}

.cover-box {
    text-align: center;
    width: calc(100%/6 - 15px);
    margin-right: 15px;
}

.cover-box img {
    width: 100%;
}

.cover-box .circle {
    border-radius: 50%;
}

.player-box {
    width: 98%;
    margin: auto;
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track img {
    width: 50px;
    height: 50px;
}

.track-info {
    margin-left: 10px;
}

.track-info h5 {
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.track-info h6 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    font-weight: 300;
}

.track-overview {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-toggles {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 50px;
}

.track-length {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.controller {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    padding: 10px;
    display: flex;
    align-items: center;
}

.buttons i {
    color: white;
    padding: 0 10px;
    font-size: 16px;
}

#play {
    font-size: 32px;
}

.track-length span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 400;
    margin: 0 20px;
}

.bar {
    width: 300px;
    height: 3px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.current-time {
    height: 100%;
    width: 20%;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.volume {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume i {
    color: white;
    font-size: 14px;
}


.volume-bar {
    width: 50%;
    height: 3px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.current-volume {
    width: 10%;
    height: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}
